html {
    background: #191629;
}

body{
    background: #191629 !important;
    margin: 0px auto;
    padding: 8px;
    max-width: 600px;
    line-height: 1;
    margin: 0 auto;
    /*color: #32a852;*/
    color: #eb8c34;
}

a:link {
    color: #eb8c34;
}

a:visited{
    color: #eb8c34;
}

ul {
    padding: 0px;
    list-style-type: none;
}