<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
  <meta charset="UTF-8" http-equiv="Content-Type" content="text/html" >
  <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}"/>
  <title th:text="${user.username}">lit</title>
</head>

<body>
  <a href="/" th:href="@{/}">Cyberia</a>

  <p class="error" th:if="${error}" th:text="${error}">Error</p>
  <br/>
  <form th:action="@{/users/desc}" th:object="${replyForm}" method="post">
    <textarea class="content" th:field="*{content}"></textarea>
    <button type="submit" name="save">Salvar</button>
  </form>

</body>
</html>