<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html" >
    <title>Cyberia club</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>

<body>
  <p>Cyberia</p>
  <div sec:authorize="!isAuthenticated()">
    <a href="/login.html" th:href="@{/login}" th:text="Entrar">Entrar</a><br/>
    <a href="/register.html" th:href="@{/register}" th:text="Cadastrar-se">Cadastrar-se</a>
  </div>

  <div sec:authorize="isAuthenticated()">
      <p><a th:href="@{/users/{name}(name=${#authentication.name})}" th:text="${#authentication.name}">user1</a>.
      <a href="/logout" th:href="@{/logout}">Sair</a></p>
  </div>


    <div class="boardList">
            <ul>
                <li th:each="b : ${boards}" th:unless="${#lists.isEmpty(boards)}">
                    <a href="#" th:href="@{/board/{bName}(bName=${b.name})}" th:text="|/${b.name}/|">/board/</a>
                </li>
                <div sec:authorize="isAuthenticated()" th:if="${#strings.equals(user.role, 'ADMIN')}">
                    <li><a href="/board/add.html" th:href="@{/board/add}">Criar board</a>.</li>
                </div>
            </ul>

    </div>
</body>
</html>